<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Galería - IA o Yo</title>

  <!-- Favicon -->
  <link rel="icon" type="image/jpg" href="../images/favicon.jpg">

  <!-- CSS -->
  <link rel="stylesheet" href="../css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">

  <!-- LightGallery CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.5/css/lightbox.min.css">

</head>
<body>

  <!-- Header / Navegación -->
  <header>
    <div class="container">
      <h1>
        <a href="index.html">
          <img src="../images/logo.jpg" alt="IA o Yo - Logo" class="logo" width="500" height="500">
          <span class="logo-text">IA o Yo</span>
        </a>
      </h1>
      <nav>
        <ul>
          <li><a href="../index.html" class="nav-link">Inicio</a></li>
          <li><a href="galeria.html" class="nav-link">Galería</a></li>
          <li><a href="./presupuesto.html" class="nav-link">Presupuesto</a></li>
          <li><a href="./contacto.html" class="nav-link">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- Contenido principal -->
  <main class="galeria-container">
    <div class="container">
      <h1>Galería de Inteligencia Artificial</h1>
      <p>Explora imágenes que muestran el impacto de la IA en el mundo real.</p>

      <!-- Galería LightGallery -->

      <a href="../images/1.jpg" data-lightbox="image" data-title="Aplicación de IA en los asistentes de voz"><img  class="imagen" src="../images/tumb-1.jpg" alt="asistente de voz"  width="1200" height="666"></a>
      <a href="../images/2.jpg" data-lightbox="image" data-title="Aplicación de IA en el comercio electrónico"><img  class="imagen" src="../images/tumb-2.jpg" alt="comercio electrónico"  width="1200" height="797"></a>
      <a href="../images/3.jpg" data-lightbox="image" data-title="Aplicación de IA en la medicina"><img  class="imagen" src="../images/tumb-3.jpg" alt="IAs en medicina"  width="1200" height="670"></a>
      <a href="../images/4.jpg" data-lightbox="image" data-title="Aplicación de IA en plataformas de streaming"><img  class="imagen" src="../images/tumb-4.jpg" alt="plataformas de streaming"  width="1200" height="1678"></a>
      <a href="../images/5.jpg" data-lightbox="image" data-title="Aplicación de IA en Fábricas Inteligentes"><img  class="imagen" src="../images/tumb-5.jpg" alt="Fábricas Inteligentes"  width="1200" height="847"></a>
      <a href="../images/6.jpg" data-lightbox="image" data-title="Aplicación de IA en meteorología"><img  class="imagen" src="../images/tumb-6.jpg" alt="IAs en la meteorología"  width="1200" height="800"></a>
      <a href="../images/7.jpg" data-lightbox="image" data-title="Aplicación de IA en plataformas de música"><img  class="imagen" src="../images/tumb-7.jpg" alt="spotify"  width="1200" height="797"></a>
      <a href="../images/8.jpg" data-lightbox="image" data-title="Aplicación de IA en Transportes autónomos"><img  class="imagen" src="../images/tumb-8.jpg" alt="Transportes autónomos"  width="1200" height="822"></a>
      <a href="../images/9.jpg" data-lightbox="image" data-title="Aplicación de IA en la ciberseguridad"><img  class="imagen" src="../images/tumb-9.jpg" alt="IA en la ciberseguridad"  width="1200" height="800"></a>
      <a href="../images/10.jpg" data-lightbox="image" data-title="Aplicación de IA en Robots"><img  class="imagen" src="../images/tumb-10.jpg" alt="Aplicación de IA en Robots"  width="1200" height="800"></a>
      <a href="../images/11.jpg" data-lightbox="image" data-title="Aplicación de IA en el tráfico"><img  class="imagen" src="../images/tumb-11.jpg" alt="Aplicación de IA en el tráfico"  width="1200" height="800"></a>
      <a href="../images/12.jpg" data-lightbox="image" data-title="Detección de enfermedades con IA"><img  class="imagen" src="../images/tumb-12.jpg" alt="Detección de enfermedades"  width="1200" height="800"></a>

    </div>
  </main> 

  <!-- Footer -->
  <footer>
    <div class="container">
      <p>&copy; 2025 IA o Yo — Potenciando humanos con inteligencia artificial.</p>
      <div class="redes-sociales">
        <!-- enlaces de prueba a Redes sociales, ninguna me pertenece ni ha sido creada por mi -->
        <a href="https://www.facebook.com/groups/223633821729067" target="_blank" rel="noopener" aria-label="Facebook">Facebook</a>
        <a href="https://x.com/iia_es?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank" rel="noopener" aria-label="Twitter">Twitter</a>
        <a href="https://www.youtube.com/@la_inteligencia_artificial" target="_blank" rel="noopener" aria-label="YouTube">YouTube</a>
      </div>
    </div>
  </footer>

  <!-- Script principal -->
  <script src="../js/script.js"></script>

  <!-- Scripts del lightbox -->
  <!-- jQuery primero -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Luego Lightbox -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.5/js/lightbox.min.js"></script>


  
</body>
</html>